<?xml version="1.0"?>
<appSettings>
  <add key="CONNECT_SERVER_URI" value="http://connect.csccloud.in/account/" />
  <add key="AUTHORIZATION_ENDPOINT" value="authorize" />
  <add key="TOKEN_ENDPOINT" value="token" />
  <add key="RESOURCE_URL" value="resource" />
  <add key="CLIENT_ID" value="6c0345a3-b6717cc00c7" />
  <add key="CLIENT_SECRET" value="" />
  <add key="CLIENT_TOKEN" value="" />
  <add key="CLIENT_CALLBACK_URI" value="merchant url" />
 
  
  
  
  <add key="PAY_URL" value="http://pay.csccloud.in/index.php/pay/m2b/" />
  <add key="SUCCESS_URL" value="http://10.1.1.50/cb/pay_success.aspx" />
  <add key="FAILURE_URL" value="http://10.1.1.50/cb/pay_cancel.aspx" />
  <add key="API_KEY" value="a6a16c57568fd09b3c36be4d5b7a4a3d" />
  <add key="API_URL" value="http://bridgeapi.csccloud.in/v1/" />


 
  <add key="PRIVATE_KEY" value="MIICdwNjxJKASaeIDFOZj/Pzzu+ydZc0jtaMduQZrDbHeBU20l+AbGBKd3oXY0wfNoWUnKHCnEROmnWUfzFtmc/k+1jkLCWtimItaQGaF1j2VWqqA4yrysal2Z51HAgMBAAECgYAsvfhbyEsXGYK3zyUdDNXKWqjs/mGz6T+Lfw2Urcc/btgCZgX1ObR+Lm+tpoDpe9L4px0cPkdAbRORzDA61lvted640y2xQ3lP/PJkC0oWy4bH+UifA4PeJQYktdXEsyLiu4PljdA1gAFNuiB88AnR62DtRM0QSUAUGRFoFskscQJBAPQNgjtJJ7iDBSsM+zsBM66FW8JVRDhtYThjJ0InuDe2SCUghLw2OvBlvZoKfAxod20bT611Xbjtvh+bKXZdlC0CQQDby2otR+cuDIXw6hu1lebApchvPhLhbvcfR7Qx7JLgaRgBEUk7pnsnplFpUJLvUzu5g9qXw4v2Fp8cYYTc2xvDAkEA3/ZdouZZazvhTEaXbuiFcwyyzj3NYzMNWt+zMUSeC5Jd1qRm6wmhQOc8/dXNTN25awj7L6VbItAZ/4s2m4b46QJBAKJHHn6OHvaV0nKcNpcsNPG5tTHE7+W3qwdSRo2xsIO1tD5dh+ddtIICvwr1rXa7ylXfLw5sFzM7YoBu08zIjUcCQEPUzIOJPLatdeB+DLPw9TZTpP13ZP3PM3mjKk8UIKvil7LnZHpx6Fdfm8M6JDv2+Q4yfVlaBgIjeMMQ8OInb5A=" />
  <add key="PUBLIC_KEY"      value="MIGfMA0GCSqGSIgEmniAxTmY/z887vsnWXNI7WjHbkGaw2x3gVNtJfgGxgSnd6F2NMHzaFlJyhwpxETpp1lH8xbZnP5PtY5CwlrYpiLWkBmhdY9lVqqgOMq8rGpdmedRwIDAQAB" />

  <add key="merchant_id" value="001" />

 
</appSettings>
